meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title #{nombrePagina}
link(rel="stylesheet", href="/css/normalize.css")
script(src='https://kit.fontawesome.com/5c97ebc3fe.js' crossorigin='anonymous')
link(rel="stylesheet", href="/css/app.css")