<!DOCTYPE html>
html(lang="es")
  head
    include partials/header

  body
    header.barra
      h1 UpTask
      a(href="/cerrar-sesion") Cerrar Sesion

    main.contenedor
      aside.contenedor-proyectos
        .panel.crear-proyecto
          a(href="/nuevo-proyecto" class="boton") Nuevo Proyecto
            span +
        .panel.lista-proyectos
          h2 Tus proyectos
          ul#proyectos.proyectos
            if(proyectos.length) 
              each proyecto in proyectos
                li
                  a(href=`/proyectos/${proyecto.url}`) #{proyecto.nombre}
      block content
    script(src="/dist/bundle.js")

      